@media screen and (min-width: 901px) {
  .chats-section {
    display: block;
    flex-direction: column;
    width: 385px;
    height: 100%;
    position: fixed;
    left: 76px;
    box-shadow: 2px 2px 2px rgba(15, 34, 58, 0.12);
    background-color: #f7f7ff;
  }
  .title h2 {
    margin: 25px;
  }
  .people {
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: safe;
    flex-direction: row;
    overflow-x:auto;
    overflow-y: hidden;
    width: 94%;
    height: 120px;
    margin: 0 auto;
  }
  .people-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6ebf5;
    padding: 15px 10px;
    border-radius: 5px;
    margin-left: 15px;
  }
  .name {
    font-size: 15px;
  }
  .image-container {
    position: absolute;
    top: -22px;
  }
  .people_icon_style {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .search {
    margin: 0 auto;
    width: 85%;
    display: flex;
    background-color: #e6ebf5;
    border-radius: 7px;
    padding: 10px;
  }
  .search input {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 16px;
    border: 0;
    justify-content: center;
  }

  .image-container-recent-doc {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
  }
  .on-off-line {
    position: absolute;
    bottom: 1px;
    left: 1.8ch;
    color: green;
  }
  .supTitle {
    margin: 25px;
    font-size: 18px;
  }
  .recent {
    display: flex;
    align-content: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    background-color: transparent;
  }
  .conv {
    padding: 20px;
    background-color: transparent;
    width: 1calc (100% - 20px);
    overflow:auto;
    height: 100%;
  }
  .material-icons.es {
    font-size: 16px;
  }
  .last-message {
    margin-top: 5px;
  }
  .conv img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .on-off-line {
    position: absolute;
  }
  .con-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
    .chats-section {
      display: block;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: fixed;
      box-shadow: 2px 2px 2px rgba(15, 34, 58, 0.12);
      background-color: #f7f7ff;
    }
    .title h2 {
      margin: 25px;
    }
    .people {
      /* background-color: green; */
      display: flex;
      align-items: center;
      justify-content: safe;
      flex-direction: row;
      overflow-x:auto;
      overflow-y: hidden;
      width: 94%;
      height: 160px;
      margin: 0 auto;
    }
    .people-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #e6ebf5;
      padding: 15px 10px;
      border-radius: 5px;
      margin-left: 15px;
    }
    .name {
      font-size: 15px;
    }
    .image-container {
      position: absolute;
      top: -22px;
    }
    .people_icon_style {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .search {
      margin: 0 auto;
      width: 85%;
      display: flex;
      background-color: #e6ebf5;
      border-radius: 7px;
      padding: 10px;
    }
    .search input {
      width: 100%;
      height: 100%;
      padding: 5px;
      font-size: 16px;
      border: 0;
      justify-content: center;
    }
  
    .image-container-recent-doc {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
    }
    .on-off-line {
      position: absolute;
      bottom: 1px;
      left: 1.8ch;
      color: green;
    }
    .supTitle {
      margin: 25px;
      font-size: 18px;
    }
    .recent {
      display: flex;
      align-content: center;
      flex-direction: column;
      height: 70%;
      width: 100%;
      background-color: transparent;
    }
    .conv {
      padding: 20px;
      background-color: transparent;
      width: 1calc (100% - 20px);
      overflow:auto;
      height: 100%;
    }
    .material-icons.es {
      font-size: 16px;
    }
    .last-message {
      margin-top: 5px;
    }
    .conv img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .on-off-line {
      position: absolute;
    }
    .con-body {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 15px;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
  }
  